.lt-post-box {
    position: relative;
}

.lt-post-box-date {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    @include lt-size(75px, 75px);
    @include media-breakpoint-up(md) {
        @include lt-size(95px, 95px);
    }
}

.lt-post-box-date-body {
    max-width: 90%;

    @include media-breakpoint-up(md) {
        min-width: 45%;
    }
}

.lt-post-box-date-value {
    margin-top: 0.3rem;
    font-size: 0.625rem;

    @include lt-font-light-secondary();
}

.lt-post-box-body {
    position: relative;
    padding: 10px 0 0 10px;
}

.lt-post-box-content {
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 10px;
    padding: 20px 30px;

    &:after{
        @include lt-bg-overlay($lt-black, .6);
    }

    @include media-breakpoint-up(md) {
        top: 45%;
    }
}

.lt-post-box-content-inner {
    @include lt-relative-zindex();
}

.lt-post-box-title {
    font-size: 1.375rem;
    margin-bottom: 0.85rem;
}

.lt-post-box-text {
    margin-bottom: 0.3rem;
    line-height: 1.66;
}

.lt-post-box-link {
    font-size: 0.625rem;

    @include lt-font-light-secondary();
}

.lt-post-item {
    padding-bottom: 40px;
}

.lt-post-item-link {
    margin: 1rem 0;
    color: $lt-gray-900;

}

.lt-post-item-title {
    font-size: 1.5751rem;
}

.lt-post-item-more {
   margin-bottom: 40px;
}

.lt-post-widget {
    margin-bottom: 30px;
    padding: 1rem 2rem;
    background-color: $gray-200;
}

.lt-post-widget-header {
    margin-top: 1rem;
    letter-spacing: 0.1rem;
}

.lt-post-widget-list-item {
    padding-left: 1.25rem;
    padding-right: 2.5rem;
}

.lt-post-widget-link {
    color: $gray-900;
    font-size: 0.875rem;
    @include lt-font-light-secondary();
}

// Widget Szukaj

.lt-post-widget-search {
    padding: 0 0.75rem;
}

.lt-post-widget-search-input {
    font-family: $lt-font-family-secondary;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.2rem;
    &::-webkit-input-placeholder {
        color: $gray-200;
    }
    &::moz-input-placeholder {
        color: $gray-200;
    }
    &::ms-input-placeholder {
        color: $gray-200;
    }
    &:moz-input-placeholder {
        color: $gray-200;
    }
}


// Widget archiwum 

.lt-post-widget-archive {
    padding: 1rem 0 0;
}

.lt-post-widget-archive-list {
    margin-bottom: 0.5rem;
}

.lt-post-archive-header {
    margin-bottom: 0.75rem;
}


// Widget poplarne wpisy

.lt-post-widget-popular-item {
    margin: 1.2rem 0;
}

.lt-post-widget-popular-img {
    margin-right: 2.5rem;
    max-width: 65px;
}

// Widget kategorie wpisow

.lt-post-widget-categories {
    padding: 2rem 0 .8rem;
}

.lt-post-widget-categories-item {
    margin-bottom: 0.175rem;
    margin-right: 0.15rem;
    padding: 0.4rem 1rem;
    line-height: 1;
    background-color: $lt-black;
}

.lt-pagination {
    letter-spacing: 0.05rem;
    @include lt-font-light-secondary();
} 