.lt-front-page-welcome {
    padding: 60px 0 70px;
}

.lt-front-page-services {
    padding: 65px 0 30px;
}

.lt-front-page-blog {
    padding: 65px 0 0;

    .lt-post-box {
        margin-bottom: 75px;
    }
}